.main {
    background: -webkit-linear-gradient(to right, #360033, #0b8793)!important;
    background: linear-gradient(to bottom right, #360033, #07636b)!important;
    min-height: 100vh;
}

@media screen and (min-width:900px){
    section.main {
        display:flex;
    }
    section.main > .navigation {
        height:100%;
        display:contents;
    }
    .content {
        width:100%;
    }
}

@media only screen and (max-width:899px) {
    .content {
        padding-top:200px;
    }
}

@media only screen and (max-width:500px) {
    .content {
        padding-top:125px;
    }
}

@media only screen and (max-width:400px) {
    .content {
        padding-top:100px;
    }
}