.page {
    .text{
        h2 {
            animation-name:slideFromBottomFade;
            animation-duration:1s;
        }
        p {
            animation-name:slideFromLeftFade;
            animation-duration:1s;
        }
    }
    .animation {
        position:relative;
        display:flex;
        flex-flow:column;
        justify-content: space-around;
        text-align:center;
        align-items:center;
        margin:0 20px;
        .container {
            a {
                animation-name:iconAnimation;
                animation-duration:1.5s;
            }
        }
    }
}

@media screen and (min-width:767px){
    .page{
        display:flex;
        .text {
            flex:1;
            display:flex;
            flex-flow:column;
            justify-content: space-around;
            align-items:center;
            height:100vh;
            margin-left:50px;
            h2 {
                font-size:4em;
                margin-block-end:0;
            }
        }
        .animation{
            flex:1;
        }
    }
}

@keyframes slideFromLeftFade {
    0% {
        transform: translateX(-10%);
        opacity:0;
    }
    50%{
        opacity:0;
    }
    100% {
        transform: translateX(0%);
        opacity:1;
    }
}

@keyframes slideFromBottomFade {
    0% {
        transform: translateY(20%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}