.home {
    position:relative;
    >section{
        >div:first-child {
            animation-name: slideFromLeft;
            animation-duration:1.5s;
        }
    }
}
.homepage {
    display:flex;
    flex-flow:column;
    justify-content: space-around;
    .container {
        margin-left:50px;
        h1 {
            font-size:5em;
            margin-block-end:0!important;
            margin-block-start:0!important;
            .paragraph{
                display:block;
            }
            p {
                display:inline-block;
                margin-block-start:0!important;
                margin-block-end:0!important;
            }
        }
    }
}
.container {
    animation-name:slideFromLeftFade;
    animation-duration:1.5s;
}
.button {
    margin-top:3em;
    a {
        border:2px solid #ffffff;
        color:#ffffff;
        text-decoration:none;
        padding:1em 2.5em;
        border-radius:2px;
        transition:0.5s;
        font-weight:700;
    }
    a:hover {
        background-color:#ffffff;
            transition:0.5s;
            color:#360033;
    }
}

.letter {
    transition:0.5s;
}
.letter:hover{
    transition:0.5s;
    color:rgb(224, 224, 80);
    transform:rotate(-45deg);
    cursor:grab;
}

.letterMain {
    transition:0.5s;
}
.letterMain:hover{
    font-weight:700;
    transition:0.5s;
    color:#07636b;
    cursor:default;
}
.word {
    transition:0.5s;
}
.word:hover {
    letter-spacing:0.25em;
    transition:0.5s;
    color:rgb(224, 224, 80);
    cursor:grab;
}
@media screen and (min-width:767px){
    .home{
        >section {
            >div+div{
                display:flex;
                width:100vw;
                >section{
                    flex:1;
                }
                >section+section{
                    justify-content: space-around;
                    align-items:center;
                    display:flex;
                }
            }
        }
    }
}
@media screen and (max-width:767px){
    .home {
        position:relative;
        >section{
            >div:first-child {
                animation-name:slideFromTopShow;
                animation-duration:1.5s;
            }
        }
        .container {
            margin-left:20px;
            h1 {
                font-size: 2.5em !important;;
            }
            p {
                font-size:0.9em;
            }
        }
    }
}

.logo {
    :hover{
        transition:0.5s;
        margin-top:-5%;
    }
    svg {
        animation-name:logo;
        animation-duration:1.5s;
        transition:0.5s;
        polygon {
            fill:#0F2027;
        }
    }
}

@keyframes slideFromLeftFade {
    0% {
        transform: translateX(-10%);
        opacity:0;
    }
    100% {
        transform: translateX(0%);
        opacity:1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes slideFromTopShow {
    0% {
        transform: translateY(-100%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}

@keyframes logo {
    0% {
        transform: translateY(100%);
        width:22%;
        opacity:0;
    }
    50% {
        transform: translateY(100%);
        width:22%;
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
        width:33%;
    }
}