.homepage {
    height:100vh;
    width:100vw;
    display:flex;
    flex-flow:column;
    justify-content: space-around;
    h1 {
        font-size:5em!important;
        margin-block-end:0!important;
        margin-block-start:0!important;
    }
    .container {
        margin-left:100px;
    }
}

.button {
    margin-top:3em;
    a {
        border:2px solid #ffffff;
        color:#ffffff;
        text-decoration:none;
        padding:1em 2.5em;
        border-radius:2px;
        transition:0.5s;
    }
    a:hover {
        background-color:#ffffff;
            transition:0.5s;
            color:#360033;
    }
}