/* Something */

/*
Skills
*/
.skills {
    position:relative;
    flex:1;
    >div{
        min-height:600px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
        grid-gap: 20px;
        padding: 20px 40px 20px 0;
        grid-template-rows: repeat(auto-fit, 175px);

        img {
            width:100%;
        }
    }
}
@media only screen and (max-width: 400px) {
    .skills {
        >div {
            grid-template-columns: repeat(auto-fit, minmax(75px, 2fr));
        }
    }
}
.work {
    position:relative;
    flex:1;
}
.rightColumn {
    height:100%;
    display:flex;
    flex-flow:column;
}

.work{
    .tiles{
        .tile{
            background:linear-gradient(to bottom right, #504f4f, #1b1b1b);
            padding:1%;
            transition:1s;
            position: relative;
            animation-name:slideFromBottomFadeTiles!important;
            animation-duration:1.5s!important;

            img {
                position:absolute;
                bottom:10%;
                right:0;
                width: 25%;
                opacity:0;
                transition:0.5s;

                &.efam {
                    width: 30%;
                    right: 3%;
                }
                &.eurostar {
                    width:40%;
                    right:5%;
                }
            }
        }
        .tile::after {
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            background-color:red;
            z-index:200;
        }
        .tile:hover{
            cursor:grab;
            background:linear-gradient(to bottom right, #2b2a2a, #1b1b1b);
            transition:1s;

            img {
                opacity:1;
                transition: 0.5s;
                transform:translateY(-15px);
                &.efam {
                    transform: translateY(-25px);
                }
                &.eurostar {
                    transform:translateY(-40px);
                }
            }
        }
    }
}
@media screen and (min-width:767px){
    .work {
        flex:1;
        .tiles {
            display:block;
            .tile {
                width:46%;
                display:inline-block;
                margin-bottom:2%;
            }
            .tile:nth-child(even){
                margin-left:2%;
            }
        }
    }
}

// tiles
@media only screen and (max-width:2090px) {
    .work {
        .tiles {
            .tile:nth-child(1) {
                h3 {
                    padding-bottom:24px;
                }
            }
        }
    }
}

@media only screen and (max-width:1398px) {
    .work {
        .tiles {
            .tile:nth-child(1) {
                h3 {
                    padding-bottom:46px;
                }
            }
        }
    }
}

@media only screen and (max-width:1156px) {
    .work {
        .tiles {
            .tile:nth-child(1) {
                h3 {
                    padding-bottom:71px;
                }
            }
        }
    }
}

@media only screen and (max-width:1101px) {
    .work {
        .tiles {
            .tile:nth-child(1) {
                h3 {
                    padding-bottom:96px;
                }
            }
        }
    }
}

@media only screen and (max-width:1039px) {
    .work {
        .tiles {
            .tile:nth-child(1) {
                h3 {
                    padding-bottom:75px;
                }
            }
        }
    }
}

@media only screen and (max-width:999px) {
    .work {
        .tiles {
            .tile:nth-child(1) {
                h3 {
                    padding-bottom:50px;
                }
            }
        }
    }
}

@media only screen and (max-width:899px) {
    .work {
        .tiles {
            .tile:nth-child(1) {
                h3 {
                    padding-bottom:25px;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .work {
        .tiles {
            .tile {
                margin-bottom: 20px;
            }
        }
    }
}

/* Skills icons*/

// Styling
.skills {
    a {
        text-decoration:none;
        color:#ffffff;
        animation-name:showPop!important;
        animation-duration:3s;
        max-height:150px;
    }
}
//Drupal class

.drupal {
    img {
        transform:rotate(-45deg);
        transition:0.5s;
    }
    p {
        text-align:center;
        opacity:0;
        transition:0.5s;
        margin-block-start:0px;
    }
}

.drupal{
    img:hover{
        transform:rotate(0deg);
        transition:0.5s;
    }
    img:hover+p{
        opacity:1;
        transition:0.5s;
    }
}
// HTML class
.html {
    img {
        padding-top:10px;
        transform:rotate(45deg);
        transition:0.5s;
    }
    p {
        transition:0.5s;
        font-size:2em;
        opacity:0;
        margin-block-start:0px;
    }
}
.html:hover{
    img {
        transform:rotate(0deg);
        transition:0.5s;
    }
    p {
        color:#ec6231;
        transform:rotate(0deg);
        transition:0.5s;
        font-size:3em;
        font-weight:700;
        opacity:1;
    }
}
// CSS and SCSS class
.cssandscss{
    img {
        width:100%;
    }
    p {
        margin-block-start:0px;
        font-size:3em;
        opacity:0;
        transition:0.5s;
    }
}
.cssandscss:hover{
    p {
        opacity:1;
        letter-spacing:0.35em;
        transition:0.5s;
    }
}
// React JS class
.react {
    img {
        animation: App-logo-spin infinite 20s linear;
    }
    p {
        margin-block-start:0px;
        text-align:center;
        font-size: 2em;
        opacity:0;
        transition:0.5s;
    }
}
.react:hover{
    img {
        animation-play-state:paused;
    }
    p {
        opacity:1;
        transition:0.5s;
    }
}
// Javascirpt

.javascript {
    img {
        transition:0.5s;
    }
}
.javascript {
    img:hover {
        transform:rotate(360deg);
        transition:1s;
    }
}

// AEM brown color

.aem {
    img {
        border-radius:50%;
        transition:0.5s;
    }
    p {
        opacity:0;
        font-size:2em;
        text-align:center;
    }
}
.aem{
    p {
        margin-block-start:0px;
    }
    img:hover{
        background-color:rgb(88, 29, 29);
        transition:0.5s;
        transform:rotate(180deg);
    }
    img:hover+p{
        opacity:1;
        transition:0.5s;
    }
}

//Wordpress class
.wordpress {
    p {
        opacity:0;
        transition:0.5s;
        text-align:center;
    }
}

.wordpress{
    img:hover+p{
        opacity:1;
        transition:0.5s;
    }
}

//e-Spirit class
.e-spirit {
    img {
        transition:0.5s;
    }
    p {
        margin-block-start:0px;
        opacity:0;
        transition:0.5s;
        font-size:2em;
    }
}

.e-spirit{
    img:hover {
        transition:0.5s;
        transform:rotate(90deg);
    }
    img:hover+p{
        opacity:1;
        transition:0.5s;
    }
}

.typescript {
    position:relative;
    font-size:60px;
    border-radius:15px;
    transition: 0.5s;
    max-height:125px;

    strong {
        position:absolute;
        bottom:0px;
        right:10px;
    }
}
.typescript:hover {
    background-color:#007acc;
    transition: 0.5s;
}

.nodejs, .grpc {
    img {
        transition: 0.5s;
    }
}

.nodejs:hover, .grpc:hover {
    img {
        transition: 0.5s;
        transform: translateY(50px);
        
    }
}

.mysql {
    min-width:150px;
    font-weight:700;
    position:relative;
    font-size:38px;
    margin-top:auto;
    margin-bottom:auto;
    transition:0.5s;
    
    span {
        transition: 0.5s;
    }

    img {
        position:absolute;
        top:0;
        right:0;
        width:auto!important;
        height:50px;
        transition: 0.5s;
        opacity:0;
    }
}

.mysql:hover {
    transition:0.5s;
    span {
        color:#00758f;
        font-size:42px;
        transition:0.5s;
    }
    span + span {
        color: #F29111;
    }
    img {
        transform: translateY(-30px);
        opacity:1;
        transition:0.5s;
    }
}

.php {
    margin: auto auto auto 20px;
    text-align:center;
    font-size:50px;
    font-weight:500;
    border-radius:75%;
    transition: 0.5s;
    padding: 0 20px 10px;
}
.php:hover {
    background-color:#787cb5;
    transition:0.5s;
}

@keyframes slideFromLeftFade {
    0% {
        transform: translateX(-10%);
        opacity:0;
    }
    50%{
        opacity:0;
    }
    100% {
        transform: translateX(0%);
        opacity:1;
    }
}

@keyframes slideFromBottomFade {
    0% {
        transform: translateY(20%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}
@keyframes slideFromTopFade {
    0% {
        transform: translateY(-20%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes iconAnimation {
    0% {
        opacity:0;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        transform:translateY(20%);
    }
    100% {
        opacity:1;
        transform:translateY(0%);
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@keyframes slideFromBottomFadeTiles {
    0% {
        transform: translateY(20%);
        opacity:0;
    }
    10% {
        transform: translateY(20%);
        opacity:0;
    }
    30% {
        transform: translateY(20%);
        opacity:0;
    }
    50% {
        transform: translateY(20%);
        opacity:0;
    }
    80% {
        transform: translateY(20%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}

@keyframes showPop {
    0%{
        opacity:0;
        transform: scale(0.5);
    }
    25% {
        opacity:0;
        transform: scale(0.5);
    }
    50% {
        opacity:0;
        transform: scale(0.5);
    }
    75% {
        opacity:1;
        transform: scale(1.25);
    }
    100%{
        opacity:1;
        transform: scale(1);
    }
}