/* Something */

/*
Skills
*/
.skills {
    position:relative;
    flex:1;
    >div{
        min-height:600px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
        grid-gap: 20px;
        padding: 20px 0;
        img {
            width:100%;
        }
    }
}
.work {
    position:relative;
    flex:1;
}
.rightColumn {
    height:100%;
    display:flex;
    flex-flow:column;
}

.work{
    .tiles{
        .tile{
            background:linear-gradient(to bottom right, #504f4f, #1b1b1b);
            padding:1%;
            transition:1s;
            animation-name:slideFromBottomFadeTiles;
            animation-duration:1.5s;
        }
        .tile:hover{
            cursor:grab;
            background:linear-gradient(to bottom right, #2b2a2a, #1b1b1b);
            transition:1s;
        }
    }
}
@media screen and (min-width:767px){
    .work {
        flex:1;
        .tiles {
            display:block;
            .tile {
                width:46%;
                display:inline-block;
                margin-bottom:2%;
            }
            .tile:nth-child(even){
                margin-left:2%;
            }
        }
    }
}


/* Skills icons*/

// Styling
.skills {
    a {
        text-decoration:none;
        color:#ffffff;
        animation-name:iconAnimation;
        animation-duration:1.5s;
    }
}
//Drupal class

.drupal {
    img {
        transform:rotate(-45deg);
        transition:0.5s;
    }
    p {
        text-align:center;
        opacity:0;
        transition:0.5s;
        margin-block-start:0px;
    }
}

.drupal{
    img:hover{
        transform:rotate(0deg);
        transition:0.5s;
    }
    img:hover+p{
        opacity:1;
        transition:0.5s;
    }
}
// HTML class
.html {
    img {
        padding-top:10px;
        transform:rotate(45deg);
        transition:0.5s;
    }
    p {
        transition:0.5s;
        font-size:2em;
        opacity:0;
        margin-block-start:0px;
    }
}
.html:hover{
    img {
        transform:rotate(0deg);
        transition:0.5s;
    }
    p {
        color:#ec6231;
        transform:rotate(0deg);
        transition:0.5s;
        font-size:3em;
        font-weight:700;
        opacity:1;
    }
}
// CSS and SCSS class
.cssandscss{
    img {
        width:100%;
    }
    p {
        margin-block-start:0px;
        font-size:3em;
        opacity:0;
        transition:0.5s;
    }
}
.cssandscss:hover{
    p {
        opacity:1;
        letter-spacing:0.35em;
        transition:0.5s;
    }
}
// React JS class
.react {
    img {
        animation: App-logo-spin infinite 20s linear;
    }
    p {
        margin-block-start:0px;
        text-align:center;
        font-size: 2em;
        opacity:0;
        transition:0.5s;
    }
}
.react:hover{
    img {
        animation-play-state:paused;
    }
    p {
        opacity:1;
        transition:0.5s;
    }
}
// Javascirpt

.javascript {
    img {
        transition:0.5s;
    }
}
.javascript {
    img:hover {
        transform:rotate(360deg);
        transition:1s;
    }
}

// AEM brown color

.aem {
    img {
        border-radius:50%;
        transition:0.5s;
    }
    p {
        opacity:0;
        font-size:2em;
        text-align:center;
    }
}
.aem{
    p {
        margin-block-start:0px;
    }
    img:hover{
        background-color:rgb(88, 29, 29);
        transition:0.5s;
        transform:rotate(180deg);
    }
    img:hover+p{
        opacity:1;
        transition:0.5s;
    }
}

//Wordpress class
.wordpress {
    p {
        opacity:0;
        transition:0.5s;
        text-align:center;
    }
}

.wordpress{
    img:hover+p{
        opacity:1;
        transition:0.5s;
    }
}

//e-Spirit class
.e-spirit {
    img {
        transition:0.5s;
    }
    p {
        margin-block-start:0px;
        opacity:0;
        transition:0.5s;
        font-size:2em;
    }
}

.e-spirit{
    img:hover {
        transition:0.5s;
        transform:rotate(90deg);
    }
    img:hover+p{
        opacity:1;
        transition:0.5s;
    }
}

.typescript {
    position:relative;
    font-size:60px;
    border-radius:15px;
    transition: 0.5s;
    max-height:150px;
    strong {
        position:absolute;
        bottom:0px;
        right:10px;
    }
}
.typescript:hover {
    background-color:#007acc;
    transition: 0.5s;
}

@keyframes slideFromLeftFade {
    0% {
        transform: translateX(-10%);
        opacity:0;
    }
    50%{
        opacity:0;
    }
    100% {
        transform: translateX(0%);
        opacity:1;
    }
}

@keyframes slideFromBottomFade {
    0% {
        transform: translateY(20%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}
@keyframes slideFromTopFade {
    0% {
        transform: translateY(-20%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes iconAnimation {
    0% {
        opacity:0;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        transform:translateY(20%);
    }
    100% {
        opacity:1;
        transform:translateY(0%);
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@keyframes slideFromBottomFadeTiles {
    0% {
        transform: translateY(20%);
        opacity:0;
    }
    10% {
        transform: translateY(20%);
        opacity:0;
    }
    30% {
        transform: translateY(20%);
        opacity:0;
    }
    50% {
        transform: translateY(20%);
        opacity:0;
    }
    80% {
        transform: translateY(20%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}