/*
Skills
*/
.page {
    .animation {
        margin:0 20px;
        .container {
            .skills {
                position:relative;
                a {
                    animation-name:iconAnimation;
                    animation-duration:1.5s;
                }
            }
            .work{
                .tiles{
                    .tile{
                        background:linear-gradient(to bottom right, #504f4f, #1b1b1b);
                        padding:1%;
                        transition:1s;
                        animation-name:slideFromBottomFadeTiles;
                        animation-duration:1.5s;
                    }
                    .tile:hover{
                        cursor:grab;
                        background:linear-gradient(to bottom right, #2b2a2a, #1b1b1b);
                        transition:1s;
                    }
                }
            }
        }
    }
}
@media screen and (min-width:767px){
    .page{
        display:flex;
        .text {
            flex:1;
            display:flex;
            flex-flow:column;
            justify-content: space-around;
            align-items:center;
            height:100vh;
            margin-left:50px;
            h2 {
                font-size:4em;
                margin-block-end:0;
            }
        }
        .animation{
            flex:1;
            display:flex;
            justify-content:space-around;
            .container {
                display:flex;
                flex-flow:column;
                justify-content:space-around;
                width:100%;
                .skills {
                    flex:1;
                    display:flex;
                    flex-flow:column;
                    justify-content: flex-end;
                }
                .work {
                    flex:1;
                    .tiles {
                        display:block;
                        .tile {
                            width:46%;
                            display:inline-block;
                            margin-bottom:2%;
                        }
                        .tile:nth-child(even){
                            margin-left:2%;
                        }
                    }
                }
            }
        }
    }
}

@keyframes slideFromLeftFade {
    0% {
        transform: translateX(-10%);
        opacity:0;
    }
    50%{
        opacity:0;
    }
    100% {
        transform: translateX(0%);
        opacity:1;
    }
}

@keyframes slideFromBottomFade {
    0% {
        transform: translateY(20%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}
@keyframes slideFromTopFade {
    0% {
        transform: translateY(-20%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}