.projects{
    display:block;
    position:relative;
    animation: Fade 2s ease forwards;
    overflow:hidden;
    .img {
        width:100%;
        height:100%;
        object-fit:cover;
        object-position: center;
        transition:0.5s;
    }
    .content {
        position:absolute;
        background-color:#333333;
        opacity:0.7;
        top:0;
        left:0;
        transition:0.5s;
        width:100%;
        height:100%;
    }
    .view {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity:0;
        z-index:11;
        transition:0.5s;
        justify-content: space-around;
        display:flex;
        align-items:center;
        color:#fff;
        text-align:center;
        div{
            background-color:#360033;
            border-radius:50%;
            width:90px;
            height:90px;
            p{
                margin-top:24%;
            }
        }
    }
}
.projects:hover{
    cursor:pointer;
    .img{
        transform:scale(1.5);
        transition:0.5s;
    }
    .content{
        opacity:0;
        transition:0.5s;
    }
    .view {
        opacity:1;
        transition:0.5s;
    }
}
.holder {
    position:relative;
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

// Overlay part

.projectInfo{
    display:flex;
    width:100%;
    min-height:100vh;
    img.full{
        padding:2%;
        max-width:50%;
    }
    .webInfo{
        padding:2%;
    }
}
.close {
    cursor:pointer;
    opacity:1;

    .innerText{
        text-transform:uppercase;
        opacity:0;
        transition:0.3s;
        font-size: 25px;
        margin-top: -15px;
    }
}
.inner {
    position:absolute;
    top:50px;
    right: 50px;
}
.inner::before, .inner::after{
    position:absolute;
    content: '';
    width:inherit;
    height:2px;
    width:70px;
    background-color:#fff;
    left:0;
    top:0;
    transition:0.5s;
}
.inner::before{
    transform:rotate(45deg);
}
.inner::after{
    transform:rotate(-45deg);
}
.close:hover{
    .innerText {
        opacity: 1;
    }
    .inner::before{
        animation: CloseBtnTop 0.75s forwards;
    }
    .inner::after{
        animation: CloseBtnBottom 0.75s forwards;
    }
}

@keyframes CloseBtnTop {
    0% {
        margin-top:0;
        transform:rotate(45deg);
    }
    100% {
        transform: rotate(0);
        margin-top: -25px;
    }
}

@keyframes CloseBtnBottom {
    0% {
        margin-top:0;
        transform:rotate(-45deg);
    }
    100% {
        transform: rotate(0);
        margin-top: 25px;
    }
}

@keyframes Fade {
    0% {
        opacity:0;
        transform:translateX(-50px);
    }
    50% {
        opacity:0;
        transform:translateX(-50px);
    }
    100% {
        opacity:1;
        transform:translateX(0);
    }
}