/*
Skills
*/
.page {
    .animation {
        .container {
            .skills {
                position:relative;
                a {
                    animation-name:iconAnimation;
                    animation-duration:1.5s;
                }
            }
        }
    }
}
@media screen and (min-width:767px){
    .page{
        display:flex;
        .text {
            flex:1;
            display:flex;
            flex-flow:column;
            justify-content: space-around;
            align-items:center;
            height:100vh;
            margin-left:50px;
            h2 {
                font-size:4em;
                margin-block-end:0;
            }
        }
        .animation{
            flex:1;
            display:flex;
            justify-content:space-around;
            .container {
                display:flex;
                flex-flow:column;
                justify-content:space-around;
                width:100%;
                .skills {
                    flex:1;
                    display:flex;
                    flex-flow:column;
                    justify-content: flex-end;
                }
                .work {
                    flex:1;
                    .tiles {
                        display:block;
                        .tile {
                            width:46%;
                            display:inline-block;
                            background-color:#2a2a2a;
                            padding:1%;
                            margin-bottom:2%;
                        }
                        .tile:nth-child(even){
                            margin-left:2%;
                        }
                    }
                }
            }
        }
    }
}

/* Skills icons*/

// Styling
a {
    text-decoration:none;
    color:#ffffff;
}
//Drupal class
.drupal {
    position:absolute;
    left:53%;
    top:65%;
    img {
        transform:rotate(-45deg);
        transition:0.5s;
        padding:1em;
        width:125px;
    }
    p {
        opacity:0;
        transition:0.5s;
        left:90%;
        top:25%;
        position:absolute;
        width:100%;
    }
}

.drupal{
    img:hover{
        transform:rotate(0deg);
        transition:0.5s;
    }
    img:hover+p{
        opacity:1;
        transition:0.5s;
    }
}
// HTML class
.html {
    position:absolute;
    top:15%;
    left:55%;
    display:flex;
    img {
        width:100px;
        transform:rotate(45deg);
        transition:0.5s;
    }
    p {
        transition:0.5s;
        font-size:2em;
        opacity:0
    }
}
.html:hover{
    img {
        transform:rotate(0deg);
        transition:0.5s;
    }
    p {
        color:#ec6231;
        transform:rotate(0deg);
        transition:0.5s;
        font-size:3em;
        font-weight:700;
        opacity:1;
    }
}
// CSS and SCSS class
.cssandscss{
    font-size:3em;
    position:absolute;
    top:15%;
    margin-top:0;
    left:40%;
    img {
        width:140px;
    }
    p {
        opacity:0;
        top:-90px;
        transition:0.5s;
        position:absolute;
        left:30px;
    }
}
.cssandscss:hover{
    p {
        opacity:1;
        left:0;
        top:-110px;
        letter-spacing:0.5em;
        transition:0.5s;
    }
}
// React JS class
.react {
    font-size:2em;
    transition:0.3s;
    position:absolute;
    left:25%;
    top:15%;
    img {
        width:150px;
        animation: App-logo-spin infinite 20s linear;
    }
    p {
        top:-80px;
        left:20px;
        position:absolute;
        opacity:0;
        transition:0.5s;
    }
}
.react:hover{
    img {
        animation-play-state:paused;
    }
    p {
        top:-100px;
        opacity:1;
        transition:0.5s;
    }
}
// Javascirpt

.javascript {
    position:absolute;
    left:23%;
    top:40%;
    img {
        width:150px;
        transition:0.5s;
        padding:20px;
    }
}
.javascript {
    img:hover {
        transform:rotate(360deg);
        transition:1s;
    }
}

// AEM brown color

.aem {
    left:25%;
    top:70%;
    position:absolute;
    img {
        width:150px;
        border-radius:50%;
        transition:0.5s;
    }
    p {
        display:flex;
        flex-flow:column;
        justify-content: space-around;
        opacity:0;
        font-size:2em;
        text-align:left;
        left:110%;
        top:-15%;
        position:absolute;
    }
}
.aem{
    img:hover{
        background-color:rgb(88, 29, 29);
        transition:0.5s;
        transform:rotate(180deg);
    }
    img:hover+p{
        opacity:1;
        transition:0.5s;
    }
}

//Wordpress class
.wordpress {
    display:flex;
    align-items:center;
    position:absolute;
    left:40%;
    top:40%;
    img {
        padding:1em;
        width:150px;
    }
    p {
        opacity:0;
        transition:0.5s;
        bottom:-3em;
        position:absolute;
        left:3em;
    }
}

.wordpress{
    img:hover+p{
        opacity:1;
        transition:0.5s;
        bottom:-1.5em;
    }
}

//e-Spirit class
.e-spirit {
    display:flex;
    align-items:center;
    position:absolute;
    top:44%;
    right:33%;
    img {
        padding:1em;
        width:100px;
        transition:0.5s;
    }
    p {
        opacity:0;
        transition:0.5s;
        position:absolute;
        left:3.5em;
        font-size:2em;
        display:inline-block;
        width:100%;
    }
}

.e-spirit{
    img:hover {
        transition:0.5s;
        transform:rotate(90deg);
    }
    img:hover+p{
        opacity:1;
        transition:0.5s;
        left:4em;
    }
}

@keyframes slideFromLeftFade {
    0% {
        transform: translateX(-10%);
        opacity:0;
    }
    50%{
        opacity:0;
    }
    100% {
        transform: translateX(0%);
        opacity:1;
    }
}

@keyframes slideFromBottomFade {
    0% {
        transform: translateY(20%);
        opacity:0;
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes iconAnimation {
    0% {
        opacity:0;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 0;
        transform:translateY(20%);
    }
    100% {
        opacity:1;
        transform:translateY(0%);
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }