/*
Skills
*/
@media screen and (min-width:767px){
    .page{
        display:flex;
        .text {
            flex:1;
            display:flex;
            flex-flow:column;
            justify-content: space-around;
            align-items:center;
            height:100vh;
            margin-left:50px;
            h2 {
                font-size:4em;
                margin-block-end:0;
            }
        }
        .animation{
            flex:1;
            display:flex;
            justify-content:space-around;
            .container {
                display:flex;
                flex-flow:column;
                justify-content:space-around;
                width:100%;
                .skills {
                    flex:1;
                    display:flex;
                    flex-flow:column;
                    justify-content: flex-end;
                }
                .work {
                    flex:1;
                    .tiles {
                        display:block;
                        .tile {
                            width:46%;
                            display:inline-block;
                            background-color:#2a2a2a;
                            padding:1%;
                            margin-bottom:2%;
                        }
                        .tile:nth-child(even){
                            margin-left:2%;
                        }
                    }
                }
            }
        }
    }
}