/*
Skills
*/
@media screen and (min-width:767px){
    .page{
        display:flex;
        .text {
            flex:1;
            display:flex;
            flex-flow:column;
            justify-content: space-around;
            align-items:center;
            height:100vh;
            margin-left:50px;
            h2 {
                font-size:4em;
                margin-block-end:0;
            }
        }
        .animation{
            flex:1;
            display:flex;
            justify-content:space-around;
            .container {
                display:flex;
                flex-flow:column;
                justify-content:space-around;
                .skills {
                    flex:1;
                    display:flex;
                    flex-flow:column;
                    justify-content: flex-end;
                }
                .work {
                    flex:1;
                }
            }
        }
    }
}